@import "tailwindcss";

:root {

    /* Background */
    --background: #1F2937;
    --surface: #2D3748;
    --surface-light: #374151;

    --border: #4B5563;

    /* Text */
    --text-primary: #F9FAFB;
    --text-secondary: #D1D5DB;
    --text-muted: #9CA3AF;

    /* Accent */
    --primary: #10B981;
    --primary-hover: #059669;
    --secondary: #38BDF8;

    /* States */
    --success: #22C55E;
    --warning: #F59E0B;
    --danger: #EF4444;

    --radius: 18px;

    --shadow: 0 10px 30px rgba(0,0,0,.15);

}